<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
    [Simme-Server]
         Menu XML File: menu.xml
                 $Date: 2004/04/06 22:27:05 $
             $Revision: 1.3 $
-->
<menus>
    <list title="Willkommen" id="0" list="true">
        <child id="1">Sofort Spielen</child>
        <child id="4">Gegner Wählen</child>
        <child id="5">Wer ist online?</child>
        <child id="6">Spielerliste</child>
        <child id="7">Hilfe</child>
    </list>

    <special title="Warte auf Gegenspieler" id="1"
            type="wait"/>

    <special title="Starte Spiel" id="2"
            type="start"/>

    <special title="SimME playing" id="3"
            type="ready"/>

    <generate title="Gegner Wählen" id="4"
            type="waiting"/>

    <generate title="Spieler Online" id="5"
            type="online"/>

    <generate title="Spielerliste" id="6"
            type="allusers"/>

    <text title="Hilfe" id="7">
        <msg>
        "Sofort Spielen" startet ein Spiel so schnell wie möglich. Ist ein
        Gegner verfügbar, kann man sofort gegen diesen spielen.

        "Gegner wählen" hier kann man sich seinen Gegenspieler aussuchen und ihn
        herausfordern.

        "Wer ist online?" verrät, welche Spieler gerade online sind. Man sieht
        auch, wer gerade spielt und wer frei ist.

        "Spielerliste" zeigt eine Liste mit allen Spielern an. Hier kann man
        nachsehen, wo man im Vergleich zu den anderen Spielern liegt. Bei vielen
        registrierten Benutzern, kann das Laden ein bisschen länger dauern.

        Viel Spaß!
        </msg>
    </text>
</menus>